@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #121212; /* Sötét háttér */
    color: #fafafa;
}

#root {
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

/*
grid-template-rows
auto 1fr auto
Nav content footer
*/

#root404 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

input,
button,
textarea,
select,
input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: none;
}

/* Number input special styles */
input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Scrollbar styles */
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: transparent;
}

*::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

svg#loader circle {
    fill: none;
    stroke: #0ea5e9;
    stroke-linecap: round;
    stroke-dasharray: 150, 200;
    stroke-dashoffset: -10;
    animation: animate-stroke 1.5s ease-in-out infinite;
}

#loader {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-stroke {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}
